body{
    background-image: url('./download.jpg');
 transition: background-image 1s ease-in-out;
}
.home{
    width: 500px;
    color: rgb(246, 245, 245);
    margin-top: 90px;
    margin-left: 20px;
    font-size: x-large;
    text-align: left;
    
}
.home p{
    width: 700px;
    font-weight: 10px;
    font-size: 30px;
    color: rgba(235, 211, 139, 0.84);
    font-family: "Nanum Myeongjo", serif;
   
}

.home h1 {
    font-size: 55px;
    font-weight: bold;
    color: rgba(252, 252, 252, 0.925);
    font-family: "Nanum Myeongjo", serif;
    overflow: hidden;
    white-space: nowrap;
    animation: typing 7s steps(40) forwards;
}

@keyframes typing {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}


.sidebar {
    position: absolute; 
    top: 19%;
    right: 5%;
    color: #F5F5F5; 
    background-color: transparent; 
    height: 320px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px; 
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    padding: 20px; 
    transition: transform 0.5s ease-in-out;
}

.sidebar button {
    background-color: transparent; 
    color: #FFFFFF; 
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 30px;
    align-items: center;
    opacity: 0;
    transition: opacity 1s;
    margin-bottom: 20px; 
}

.sidebar button.appear {
    opacity: 1;
    display: block; 
}

.sidebar button:hover {
    background-color: #f7f4f0;
    color: black;
}
.about-us{
    font-weight: 10px;
    font-size: 30px;
    font-family: "Nanum Myeongjo", serif;
    color:rgb(231, 226, 216);
    padding: 60px;
    margin-top: 70px;
}
.about-us h1{
    color: rgb(231, 140, 20);
    font-weight: bold;
    font-size: 55px;
    font-weight: bold;
    font-family: "Nanum Myeongjo", serif;
    text-align: center;
}
.about-us p{
    width: 80%;
    margin-left: 10%;
    text-align: center;
}
.Services{
    color: antiquewhite;
    position: relative;
   margin-top: 9%;
   display: flex; 
  transition: background-image 1s ease-in-out;
  
}
.Services h1{
    position: relative;
    font-size: 60px;
    left: 40px;
    margin-right: 20px;
    width: 1200px;
    margin-left: 30px;
    font-family: "Nanum Myeongjo", serif;
    color: #fdfbfb;
    font-weight: bold;
 

}
.Services-list{
    position: relative;
    margin-left: 20%; 
    font-size: 30px;
    font-family: "Nanum Myeongjo", serif;
    color: #dbeeae;
}
.Services p{
    color: antiquewhite;
}
.Why-us{
    color: antiquewhite;
    position: relative;
   margin-top: 9%;
   display: flex; 
  transition: background-image 1s ease-in-out;
}
.Why-us h1{
    position: relative;
    font-size: 60px;
    left: 40px;
    margin-right: 20px;
    width: 1200px;
    margin-left: 30px;
    font-family: "Nanum Myeongjo", serif;
    color: #fdfbfb;
    font-weight: bold;
}
.us-list{
    position: relative;
    margin-left: 20%; 
    font-size: 30px;
    font-family: "Nanum Myeongjo", serif;
    color: #dbeeae;
}
.us-list p{
    color: antiquewhite;
}
.work-together{
    margin-top: 80px;
    font-size: 30px;
    width: 70%;
    color: rgba(235, 211, 139, 0.84);
    font-family: "Nanum Myeongjo", serif;
    transition: background-image 1s ease-in-out;

} 
.work-together h1{
    position: relative;
    margin-top: 20%;
}
.work-together p{
color: antiquewhite;
font-weight: 20px;
}
.work-together-button {
    background-color: transparent;
    color: #FFFFFF;
    border: none;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 30px;
    align-items: center;
    opacity: 1;
    position: relative;
    margin-left: 54%;
    
}

.work-together-button:hover {
    background-color: #f7f4f0;
    color: black;
}
.copyright {
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    padding: 20px;
    background-color: transparent;
}
@media (max-width: 768px) {
    .home {
        text-align: center;
    }
    .home p {
        width:400px;
       
    }
    .sidebar{
       position: relative;
       left: 60px;
    }
    .aboout-us{
       font-size:15px;
        padding: 20px; 
    }
    .about-us h1 {
    font-size: 36px; 
       
    }
    .about-us p {
     width: 100%; 
     margin-left: 0; 
     text-align: center; 
     text-align: justify;
     text-justify: inter-word;
     line-height: 1.5;
        }
    
    .Services{
        font-size: 18px;
        flex-direction: column; 
    }
    .Services h1 {
        left: 0;
        margin-right: 0; 
        width: 100%; 
        text-align: center; 
    }
    .Services-list {
        margin-left: 0; 
        text-align: left; 
    }
    .Why-us{
        font-size: 18px;
        flex-direction: column; 
        align-items: center;
    }
    .Why-us h1{
        left: 0; 
        margin-right: 0;
        width: 100%;
        text-align: center;
     }
    .us-list{
        margin-left: 0; 
        text-align: left;

    }

}



